# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# --- Jupyter Notebooks ---
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# --- Airflow ---
/logs/
/plugins/
airflow.cfg
airflow.db
unittests.cfg
.webserver_config.py

# --- Docker ---
.docker/
docker-compose.override.yml

# --- Données  ---
data/raw/*.csv
data/processed/*.csv
data/logs/
!data/.gitkeep

# --- OS spécifiques ---
.DS_Store
Thumbs.db

# On force Git à suivre les fichiers .gitkeep
!data/**/.gitkeep

# --- Power BI ---
*.pbix
*.pbit
*.pbip
*.temp

